
{{!-- button --}}
<div class="d-flex justify-content-center align-items-end">
  <button class="btn m-4 " type="button" data-toggle="modal" data-target="#myModal" style="background-color: #231010; color: white; font-size: 1.6rem;">+ New Post</button>
</div>

