<div class="p-5"> 
     <form class="border border-5 border-dark" id="login-form">
        <div class="ps-4 py-2" style="background-color: #231010;">
            <h3 style="color: #d9ead3;">Login</h3>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-2 px-4 py-2">
            <label class="form-label" for="name-login">Username</label>
            <input type="text" id="name-login" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3 px-4">
            <label class="form-label" for="password-login">Password</label>
            <input type="password" id="password-login" class="form-control" />
        </div>

        <!-- Submit button -->
        <div class="d-grid px-4" >
            <button type="submit" class="btn btn-primary btn-block mb-2 bg-secondary text-white-50" >Log in</button>
        </div>
    
        <div class="px-4 pb-2">
            <a href="/signUp" style="text-decoration: none;">Sign up instead</a>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>
