<div class="p-5"> 
     <form class="border border-5 border-dark signup-form">
        <div class="ps-4 py-2" style="background-color: #231010;">
            <h3 style="color: #d9ead3;">Sign Up</h3>
        </div>
        <!-- usernam input -->
        <div class="form-outline mb-2 px-4 py-2">
            <label class="form-label" for="name-signUp">Username</label>
            <input id="name-signUp" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3 px-4">
            <label class="form-label" for="pass-signUp">Password</label>
            <input type="password" id="pass-signUp" class="form-control" />
        </div>

        <!-- Submit button -->
        <div class="d-grid px-4">
            <button type="submit" class="btn btn-primary btn-block mb-2 bg-secondary text-white-50">Sign Up</button>
        </div>
    
        <div class="px-4 pb-2">
            <a href="/login" style="text-decoration: none;">Login instead</a>
        </div>
    </form>
</div>

<script src="./js/signUp.js"></script>